{% extends 'panel.html' %}
{% block addcss %}
<link rel="stylesheet" href="{{url_for('static',filename='fileupload.css')}}">
{% endblock %}
{% block content %}
</br>
<div class="container">
    <h1>File Upload</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="from-group" <label for="file">choose files:</label>
            <input type="file" id="file" name="file" accept=".jpg, .png, .pdf, .jpeg, .py, .txt, .docx, .doc" multiple
                required>
        </div>
        <div class="from-group" <input type="submit" value="Upload">
            <button>Upload</button>
        </div>
    </form>
</div>
{% endblock %}